# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/modules.xml
.idea/Progr-C-CPP-2025-Lect-Pract.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/111.xml
